spring:
  # 对应 RedisProperties 类
  redis:
    host: 10.201.6.7
    cluster:
      nodes: 10.201.6.7:7001,10.201.6.7:7002,10.201.6.7:7003,10.201.6.7:7004,10.201.6.7:7005,10.201.6.7:7006
    password: lttc
  datasource:
    url: jdbc:mysql://10.201.6.7:3306/demo?serverTimezone=UTC&characterEncoding=utf-8&useSSL=false
    driver-class-name: com.mysql.jdbc.Driver
    username: demo
    password: demo
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false #关闭缓存
  security:
    user:
      password: 123
      name: 123
mybatis:
  mapper-locations: classpath:cn/lttc/redisdemo/mapper/*xml
