<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lttc.redisdemo.mapper.UserMapper">
    <select id="findAllUser" resultType="cn.lttc.redisdemo.model.User">
        select id,username,password from t_demo_redis_user
    </select>
</mapper>